[user]
	email = 3789764+skykanin@users.noreply.github.com
	name = skykanin
[core]
	editor = vim
[diff]
        tool=vimdiff
[push]
	followTags = true
[pull]
	rebase = true
[init]
	defaultBranch = main
