[user]
	email = 3789764+skykanin@users.noreply.github.com
	name = skykanin
[core]
	editor = vim
[diff]
        tool = vimdiff3
 	# external = difft --color auto
[merge]
	conflictstyle = diff3
[push]
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[color.ui]
       ui = always
[color.status]
	changed = 83
        added = 199
[color.diff]
        new = 83
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
