binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  Mod+Return { spawn-sh "ghostty"; }
  Mod+T { spawn "kitty"; }
  Mod+W { spawn "firefox"; }
  Mod+E { spawn-sh "emacsclient -c"; }
  Mod+N { spawn "nautilus"; }
  Mod+M { spawn "spotify"; }

  Mod+P { spawn-sh "keepassxc"; }

  Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
  Mod+V { spawn-sh "noctalia msg panel-toggle clipboard"; }
  Mod+X { spawn-sh "noctalia msg panel-toggle session"; }
  Ctrl+Alt+Q { spawn-sh "noctalia msg session lock"; }
  Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
  Mod+Shift+S { spawn-sh "grim -g \"$(slurp)\" - | swappy -f -"; }
  Mod+Comma { spawn-sh "noctalia msg settings-toggle"; }
  Mod+Period { spawn-sh "noctalia msg panel-toggle emoji"; }

  XF86Calculator { spawn-sh "ghostty -e 'nix run self#babashka'"; }
  XF86AudioRaiseVolume { spawn "noctalia" "msg" "volume-up" "5"; }
  XF86AudioLowerVolume { spawn "noctalia" "msg" "volume-down" "5"; }
  XF86AudioMute { spawn "noctalia" "msg" "volume-mute"; }
  XF86MonBrightnessUp { spawn "noctalia" "brightness-up" "all" "5"; }
  XF86MonBrightnessDown { spawn "noctalia" "brightness-down" "all" "5"; }

  //XF86AudioMicMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86AudioPlay         allow-when-locked=true { spawn "playerctl" "play-pause"; }
  XF86AudioNext         allow-when-locked=true { spawn "playerctl" "next"; }
  XF86AudioPrev         allow-when-locked=true { spawn "playerctl" "previous"; }
  XF86AudioStop         allow-when-locked=true { spawn "playerctl" "stop"; }
  XF86AudioMedia        allow-when-locked=true { spawn "playerctl" "play-pause"; }

  Mod+Q { close-window; }

  Mod+Left  { focus-column-or-monitor-left; }
  Mod+H     { focus-column-or-monitor-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-or-monitor-right; }
  Mod+L     { focus-column-or-monitor-right; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+L     { move-column-right; }

  Mod+J           { focus-window-or-workspace-down; }
  Mod+K           { focus-window-or-workspace-up; }
  Mod+Shift+J     { move-window-down-or-to-workspace-down; }
  Mod+Shift+K     { move-window-up-or-to-workspace-up; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Shift+Home { move-column-to-first; }
  Mod+Shift+End  { move-column-to-last; }

  Mod+Ctrl+Left  { focus-monitor-left; }
  Mod+Ctrl+Down  { focus-monitor-down; }
  Mod+Ctrl+Up    { focus-monitor-up; }
  Mod+Ctrl+Right { focus-monitor-right; }
  Mod+Ctrl+H     { focus-monitor-left; }
  Mod+Ctrl+J     { focus-monitor-down; }
  Mod+Ctrl+K     { focus-monitor-up; }
  Mod+Ctrl+L     { focus-monitor-right; }

  Mod+Alt+Left  { move-column-to-monitor-left; }
  Mod+Alt+Down  { move-column-to-monitor-down; }
  Mod+Alt+Up    { move-column-to-monitor-up; }
  Mod+Alt+Right { move-column-to-monitor-right; }
  Mod+Alt+H     { move-column-to-monitor-left; }
  Mod+Alt+J     { move-column-to-monitor-down; }
  Mod+Alt+K     { move-column-to-monitor-up; }
  Mod+Alt+L     { move-column-to-monitor-right; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      cooldown-ms=150 { focus-column-right; }
  Mod+WheelScrollLeft       cooldown-ms=150 { focus-column-left; }
  Mod+Ctrl+WheelScrollRight cooldown-ms=150 { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  cooldown-ms=150 { move-column-left; }

  Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
  Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   cooldown-ms=150 { move-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+Tab { toggle-overview; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }


  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }

  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+Shift+Space { toggle-window-floating; }

  Mod+Shift+T { spawn-sh "grim -g \"$(slurp)\" - | tesseract stdin stdout -l eng+nor  --oem 1 --psm 6 -c preserve_interword_spaces=1  | wl-copy"; }
  Ctrl+Print { spawn-sh "nix run self#hyprpicker -- -an"; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Mod+Shift+Q { quit; }
}
