input {
  keyboard {
    xkb {
      layout "us"
      options "compose:ralt,caps:escape"
    }
    repeat-delay 300
    repeat-rate 80
  }

  mouse {
    accel-profile "flat"
    accel-speed 0.3
  }

  touchpad {
    tap
    natural-scroll
  }

  workspace-auto-back-and-forth
  focus-follows-mouse max-scroll-amount="0%"
  mod-key-nested "Alt"
}

gestures {
  hot-corners {
    off
  }
}

clipboard {
    disable-primary
}
