layer-rule {
  match namespace="^rofi$"

  shadow {
    on
  }
}

layer-rule {
  match namespace="awww-daemon"
  place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-oveview"
  place-within-backdrop true
}

window-rule {
  match app-id="blueberry.py"
  open-floating true
}

window-rule {
  match app-id="nm-connection-editor"
  open-floating true
}

window-rule {
  match app-id="org.keepassxc.KeePassXC"
  open-floating true
}

window-rule {
  match app-id="pavucontrol"
  open-floating true
}

window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
  draw-border-with-background false
}

window-rule {
  match app-id="ghostty"
  default-column-width { proportion 0.5; }
}

window-rule {
  match is-window-cast-target=true

  focus-ring {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }

  border {
    inactive-color "#7d0d2d"
  }

  shadow {
    color "#7d0d2d70"
  }

  tab-indicator {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }
}
